@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.slider-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.left-slide {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.left-slide h1 {
  font-size: 4rem;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.left-slide {
  font-size: 1.6rem;
}

.right-slide {
  width: 65%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

button {
  background-color: #fff;
  color: #aaa;
  padding: 1.5rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #222;
  transition: all 0.2s ease-in-out;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
